* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: black;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.card-link {
    margin: 10px;
}

.card-notice {
    background-color: #E1EFFF;
    display: inline-block;
    border: solid black;
    border-radius: 30px;
}

.card-notice:hover {
    filter: grayscale(50%);
    background-color: #afd3fc;
}

.cart-img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.card-texts {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}

.cart-category {
    display: inline-block;
    border-radius: 25px;
    background-color: antiquewhite;
    border: solid rgb(255, 200, 129);
    margin-top: 2.5%;
    padding: 5px;
}

.cart-tags {
    display: inline-block;
    border-radius: 25px;
    background-color:aquamarine;
    border: solid rgb(49, 248, 182);
    margin-top: 2.5%;
    padding: 5px;
}