* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 20vh;
    background-color: #B0CCDD;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

body {
    background-color: #E1EFFF;
}

.login-img {
    width: 15%;
    height: 15%;
    min-width: 50px;
}

.back-img {
    margin-top: 50px;
    padding-left: 5%;
}

.logo-header {
    width: 7vw;
    height: 7vw;
    min-width: 60px;
    min-height: 60px;
    max-width: 200px;
    padding: 25px;
}

.page-title {
    color: #E1EFFF;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}